.breadcrumbs__item {
  display: flex;
  align-items:center;
}

.breadcrumbs__link {
  font-size: 14px;
  color: #9a9a9a;
  text-decoration: underline;
}

.breadcrumbs__item:after {
  content: "/";
  display: inline-block;
  color: #9a9a9a;
  margin-left: 3px;
  margin-right: 3px;
}

.breadcrumbs__item:last-child:after {
  content: none;
}

.breadcrumbs__item--active {
  font-weight: 700;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}
