.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-contacts {
  margin-top: 5px;
}

.contacts__schedule {
  position: relative;
}

.contacts__phone {
  font-size: 26px;
  line-height: 1;
}

.contacts__description {
  line-height: 2;
  font-size: 11px;
  color: #9a9a9a;
  margin-bottom: 2px;
}