.contacts {
  margin-left: auto;
  text-align: right;
  margin-top: 5px;
}

.contacts__phone {
  font-size: 26px;
  line-height: 1;
}

.contacts__dropdown-title {
  font-size: 13px;
  color: #98A4A8;
  text-decoration: underline;
  line-height: 1;
}

.contacts__dropdown-title:hover {
  color: #fff;
}

.contacts__description {
  line-height: 1;
  font-size: 11px;
  color: #9a9a9a;
  margin-bottom: 5px;
}