.feedback__list {
  column-count: 2;
  column-gap: 26px;
  margin-bottom: 75px;
}

.feedback__item {
  max-width: 557px;
  margin-bottom: 16px;
}

.single-feedback {
  display: inline-flex;
  flex-direction: column;
  background: #F4F5F5;
  border-radius: 5px;
  padding: 52px 30px 32px;
}

.single-feedback__head {
  display: flex;
  align-items: center;
  }

.single-feedback__userdata {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 21px;
}

.single-feedback__name {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #1A1B1E;
  text-decoration: none;
  margin-bottom: 5px;
  transition: color .3s;
}

.single-feedback__name::before {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #2E77A4;
  bottom: 0;
  left: 50%;
  transition: width .3s;
  transform: translateX(-50%);
}

.single-feedback__name:after {
  display: inline-block;
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: url(../images/vk-blue.png) center center no-repeat;
  left: calc(100% + 9px);
  bottom: 3px;
}

.single-feedback__name:hover { 
  color: #2E77A4;
}

.single-feedback__name:hover::before { 
  width: 100%;
}

.single-feedback__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.single-feedback__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 27px;
}

.single-feedback__title {
  display: block;
  font-size: 30px;
  margin-left: 3px;
  line-height: 1.4;
  margin-bottom: 13px;
}

.single-feedback__text {
  color: #818181;
  line-height: 1.68;
  margin-bottom: 31px;
}

.single-feedback__date {
  font-size: 14px;
  font-weight: 600;
  color: #1A1B1E;
  display: flex;
  align-items: flex-end;
}

