.footer__container {
  background: #031920;
  margin-top: auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82px;
  }

.inner-footer {
  height: 87px;
}

.footer-container__content {
  padding-top: 27px;
  padding-bottom: 23px;
  border-top: 1px solid rgba(255, 255, 255, .1)
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  display: flex;
  justify-content: flex-end;
}

.footer__logo {
  width: 85px;
  margin-right: 79px;
}

.inner-footer__logo {
  width: 98px;
  margin-right: 66px;
}