.form__title {
  margin-bottom: 65px;
} 

.form__row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__input {
  background: #fff;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.46;
  padding: 18px 30px;
  color: #1A1B1E;
  flex: 1;
  border: 1px solid transparent;
}

.form__input::placeholder {
  color: #666;
}

.form__input:focus {
  outline: 1px solid #F5170E;
}

.form__input--text {
  margin-right: 26px;
}

.form__input--text:last-child {
  margin-right: 0;
}

.form__input--textarea {
  resize: none;
  padding: 30px;
  height: 235px;
}

.form__feedback {
  margin-bottom: 18px;
}

.form__controls {
  display: flex;
  margin-bottom: 30px;
}

.controls {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  flex-wrap: wrap;
  gap: 7px;
}

.form__controls-title {
  width: 38%;
  font-size: 18px;
  color: #1A1B1E;
  font-weight: 400;
  padding-top: 14px;
}

.controls__checkbox:checked ~ .controls__tag {
  color: #1A1B1E;
  background-color: #B9EAE4;
}

.controls__checkbox:focus ~ .controls__tag {
  border: 1px solid #bebebe;
}

.controls__element {
  cursor: pointer;
}

.controls__checkbox {
  appearance: none;
  position: absolute;
}

.controls__item:nth-child(5n+5) {
  margin-right: 0;
}

.form__buttons {
  display: flex;
  justify-content: flex-end;
  column-gap: 17px;
}

.form__button {
  padding: 19px 40.5px;
}

.form__button:last-child {
  margin-right: 0;
}
