.header {
  padding-top: 19px;
  padding-bottom: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}

.header__logo {
  width: 85px;
  margin-right: 79px;
}

.inner-header__logo {
  width: 98px;
  margin-right: 66px;
}