.hero {
  margin-bottom: 253px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 523px;
}
  
.hero__text-section {
  width: 45%;
}

.hero__title {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.36;
  margin-bottom: 28px;
}

.hero__subtitle {
  margin-bottom: 34px;
}

.headline__container {
flex: 1;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.headline {
  min-height: 402px;
  background: url(../images/headline.png) center top -9px no-repeat;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.headline__title {
  font-size: 72px;
  margin-bottom: 32px;
}
