.inner-section {
  background: #f4f5f5;
}

.inner-section-service {
  background: #f4f5f5;
  padding-top: 97px;
  padding-bottom: 43px;
}

.inner-section__title {
  font-size: 48px;
  color: #1a1b1e;
  margin-left: 0;
}
