.offers {
  margin-bottom: 134px;
}

.title--fire:after {
  content: "";
  display: inline-block;
  width: 21px;
  height: 28px;
  background: url(../images/flame.png) center center no-repeat;
  margin-left: 12px;
}

.offers__list { 
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
}

.offers__item {
  display: flex;
  flex-direction: column;
  min-height: 449px;
  width: calc(100% / 3 - 18px);
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.offers__cover {
  width: 100%;
  height: 144px;
}

.offers__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offers__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 38px 22px 26px;
  flex: 1;
}

.offers__title {
  color: #000;
  margin-bottom: 25px;
}

.offers__features {
  display: flex;
  width: 271px;
  justify-content: space-between;
  align-items: center;
  margin-left: 7px;
  margin-bottom: 23.5px;
}

.offers__feature-icon {
  display: block;
}

.offers__feature-text {
  color: #666;
}

.offers__feature-calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 126px;
}

.offers__feature-food {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 117px;
}

.offers__text {
  font-size: 14px;
  color: #303030;
  line-height: 1.5;
  margin-bottom: 23.5px;
}

.offers__button {
  margin-top: auto;
}