.tag {
  font-size: 13px;
  color: #303030;
  padding: 9.5px 17.5px;
  border-radius: 35px;
  background: #E7E7E7;
  border: 1px solid transparent;
}

.tag--bg-green {
  color: #1A1B1E;
  background: #B9EAE4;
}
